@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif, serif;
}

.content{
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
}
.info{
  flex: 1;
  overflow-y: auto;
}